body {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(9, 5, 34, 0.932);
    padding: 0.5em 8em 6em 12em;
}