body {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header {
    background-color: rgba(9, 5, 34, 0.932);
    padding: 0.5em 8em 6em 12em;
}

#logo {
    color: white;
    font-size: 26px;
    font-weight: 900;
}

.header-links {
    font-size: 18px;
    font-weight: 700;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 100px;
}

.header-bottom {
    display: flex;
    gap: 30px;
}

#title {
    color: white;
    font-size: 60px;
    font-weight: 900;
}

.header-text {
    color: rgba(255, 255, 255, 0.87);
    font-size: 18px;
}

#upper-sign-up {
    width: 120px;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.placeholder {
    width: 900px;
    height: 200px;
    background-color: grey;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.842);
    font-size: 18px;
    font-weight: 700;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.illustrated-text,
.illustrate {
    width: 180px;
    height: 180px;
}

.illustrate {
    border: 3px solid #008CBA;
    border-radius: 25px;
}

.illustration-divs {
    display: flex;
    justify-content: center;
    gap: 35px;
    color: rgba(0, 0, 0, 0.582);
    font-size: 22px;
}

.mid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.37);
    height: 400px;
    font-size: 33px;
    padding: 0 300px;
    color: rgba(0, 0, 0, 0.774);
}

#bold-div {
    font-size: 25px;
    align-self: flex-end;
}

.blue-div {
    height: 130px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    margin: 100px 230px;
    border-radius: 6px;
}

#action-call {
    color: white;
    font-size: 25px;
    font-weight: 900;
}

#click {
    color: rgba(255, 255, 255, 0.918);
    font-size: 18px;
}

.blue-div button {
    width: 120px;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: cornflowerblue;
    font-size: 20px;
    color: white;
}