body {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header {
    background-color: rgba(9, 5, 34, 0.932);
    padding: 0.5em 8em 6em 12em;
}

#logo {
    color: white;
    font-size: 26px;
    font-weight: 900;
}

.header-links {
    font-size: 18px;
    font-weight: 700;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 100px;
}